.login {
  margin-top: 2em;
  padding: 2em;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__logo {
  width: 120px;
  object-fit: contain;
}

/*-----Login form------*/
.login__title {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
}
.login__form {
  width: 350px;
  margin-top: 2em;
  padding: 2em;
  border: 1px solid lightgray;
  background-color: white;
}
.login__form > div {
  margin-top: 0.5em;
}
.login__form > div > input {
  height: 2em;
  width: 100%;
}
.signIn__btn {
  background: #f0c14b;
  width: 100%;
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.createAcc__btn {
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
